body{
  display: grid;
}
.text-center{
    text-align: center;
  }
  
  .bg-red{
    background: red;
  }
  
  .mx-auto{
    margin: auto;
  }
  
  .flex{
    /* display:flex; */
    display: grid;
    justify-content: space-evenly} 
  /* .flex-col{
    flex-direction: column; */
    /* grid-template-columns: auto; */
    /* grid-column: auto;
  } */
  
  .items-center{
    /* width: 25%; */
    justify-content: center ;
    align-items: center;
    margin-bottom: 85px;
  }
